<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./layout/head %>
</head>
<body class="container">

<header>
    <% include ./layout/header %>
</header>

<main>
    <div>
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
    <% include ./layout/footer %>
</footer>

</body>
</html>