<!DOCTYPE html>
<html>

<head>
    <% include ./layout/head %>
</head>

<body>

    <header>
        <% include ./layout/header %>
    </header>

    <main>
        <div id="home" class="slider">
            <ul class="slides">
                <li>
                    <img src="images/portada1.jpeg">
                    <!-- random image -->
                    <div class="caption left-align">
                        <h3>Left Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="images/portada2.jpeg">
                    <!-- random image -->
                    <div class="caption right-align">
                        <h3>Right Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="images/portada3.jpeg">
                    <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="images/portada9.jpeg">
                    <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="images/portada5.jpeg">
                    <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="images/portada6.jpeg">
                    <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="images/portada7.jpeg">
                    <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="images/portada8.jpeg">
                    <!-- random image -->
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div>
        <div id="productos" class="container">
            <h4 class="teal-text text-accent-4">Journeys</h4>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img class="materialboxed" width="650" src="images/portada8.jpeg" style="height:180px">
                            <span class="card-title">Machupicchu</span>
                        </div>
                        <div class="card-content">
                            <p>Below we have compiled a 2018 up-to-date guide to Machu Picchu, one of the most inspiring archaeological sites ever discovered.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">GO!</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img class="materialboxed" width="650" src="images/portada5.jpeg" style="height:180px">
                            <span class="card-title">Mountain Colors</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because
                                I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">GO!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img class="materialboxed" width="650" src="images/portada13.jpeg" style="height:180px">
                            <span class="card-title">Salkantay</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because
                                I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">GO!</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img class="materialboxed" width="650" src="images/portada12.jpeg" style="height:180px">
                            <span class="card-title">Cusco City Tour</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because
                                I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">GO!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="contactanos" class="container">
            <h4 class="teal-text text-accent-4">Contactanos</h4>
            <br>
            <div class="row">
                <div class="col s12">
                    <div id="map" style="width:100%;height:400px;background:#fcfcfc"></div>
                </div>

            </div>

            <div class="row" style="text-align:center">
                <div class="col s4">
                    <a href="#" style="color:#3b5998">
                        <i class="fa fa-facebook-official" style="font-size: 50px"></i>
                    </a>
                </div>
                <div class="col s4">
                    <a href="#" style="color:#cd486b">
                        <i class="fa fa-instagram" style="font-size: 50px"></i>
                    </a>
                </div>
                <div class="col s4">
                    <a href="#" style="color:#1dcaff">
                        <i class="fa fa-twitter" style="font-size: 50px"></i>
                    </a>
                </div>
            </div>
            <br>
            <div class="row">
                <form class="col s12" style="text-align:center">
                    <div class="row">
                        <div class="col s6">
                            <a class="waves-effect waves-light btn"><i class="material-icons left">call</i>084-235301</a>
                           
                        </div>
                        <div class="col s6">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                <i class="fa fa-whatsapp" style="font-size: 20px;margin-left:15px"></i>
                                (+51) 992726771
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </main>

    <footer class="page-footer">
        <% include ./layout/footer %>
    </footer>
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script>
        $(document).ready(function () {
            $('.slider').slider();

            $(".button-collapse").sideNav();
        });
        function initMap() {
            var uluru = { lat: -13.513135, lng: -71.982677 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl3pL7joUlaJUZGZf3vLMcj-aYjvVJbN0&callback=initMap"></script>

</body>

</html>