<!DOCTYPE html>
<html>
  <head>
    <% include ./layout/head %>
  </head>

  <body>
    <header>
      <% include ./layout/header %>
    </header>

    <main>
      <div id="home" class="slider">
        <ul class="slides">
          <li>
            <img
              src="images/foodhd3.jpg"
              style="opacity: 0.5;
                                            filter: alpha(opacity=50);"
            />
            <!-- random image -->
            <div class="caption center-align">
              <h3>Nuestro Menu</h3>
              <h5 class="light grey-text text-lighten-3"></h5>
            </div>
          </li>
          <li>
            <img
              src="images/foodhd1.jpg"
              style="opacity: 0.5;
                                filter: alpha(opacity=50);"
            />
            <!-- random image -->
            <div class="caption right-align">
              <h3>El mejor menu lo mas delicioso</h3>
              <h5 class="light text-lighten-3"></h5>
            </div>
          </li>
          <li>
            <img
              src="images/foodhd2.jpg"
              style="opacity: 0.5;
                                filter: alpha(opacity=50);"
            />
            <!-- random image -->
            <div class="caption left-align">
              <h3>No se compara nada</h3>
              <h5 class="light grey-text text-lighten-3"></h5>
            </div>
          </li>
        </ul>
      </div>

      <div id="productos" class="container">
        <div class="section">
          <h4 class="teal-text center-align text-accent-4">Appetizers</h4>
          <div class="row">
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen2.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Palta al vinagreta</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen2.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Tomate relleno con atun</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen2.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Ensalada de tomate</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen2.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Salpicon de pollo</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen2.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Palta</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
          </div>
          <br /><br />
          <h4 class="teal-text center-align text-accent-4">Soups and Creams</h4>
          <div class="row">
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen3.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Sopa a la minuta</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen3.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Sopa de quinua</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen3.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Sopa criolla</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen3.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Sopa de verduras</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen3.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Sopa de ajos</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
          <div class="col s12 m4">
                <div class="card">
                  <div class="card-image">
                    <img
                      class="materialboxed"
                      width="650"
                      src="images/imagen3.jpg"
                      style="height:180px"
                    />
                    <span class="card-title">Sopa de cebolla</span>
                  </div>
                  <div class="card-content">
                    <p class="light">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s
                    </p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card">
                  <div class="card-image">
                    <img
                      class="materialboxed"
                      width="650"
                      src="images/imagen3.jpg"
                      style="height:180px"
                    />
                    <span class="card-title">Crema de tomate</span>
                  </div>
                  <div class="card-content">
                    <p class="light">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s
                    </p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card">
                  <div class="card-image">
                    <img
                      class="materialboxed"
                      width="650"
                      src="images/imagen3.jpg"
                      style="height:180px"
                    />
                    <span class="card-title">Crema de esparragos</span>
                  </div>
                  <div class="card-content">
                    <p class="light">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s
                    </p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card">
                  <div class="card-image">
                    <img
                      class="materialboxed"
                      width="650"
                      src="images/imagen3.jpg"
                      style="height:180px"
                    />
                    <span class="card-title">Crema de pollo</span>
                  </div>
                  <div class="card-content">
                    <p class="light">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s
                    </p>
                  </div>
                </div>
              </div>
              <div class="col s12 m4">
                <div class="card">
                  <div class="card-image">
                    <img
                      class="materialboxed"
                      width="650"
                      src="images/imagen3.jpg"
                      style="height:180px"
                    />
                    <span class="card-title">Crema de hongos</span>
                  </div>
                  <div class="card-content">
                    <p class="light">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s
                    </p>
                  </div>
                </div>
              </div>
            
            <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img
                          class="materialboxed"
                          width="650"
                          src="images/imagen3.jpg"
                          style="height:180px"
                        />
                        <span class="card-title">Crema de choclo</span>
                      </div>
                      <div class="card-content">
                        <p class="light">
                          Lorem Ipsum is simply dummy text of the printing and
                          typesetting industry. Lorem Ipsum has been the industry's
                          standard dummy text ever since the 1500s
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
          <br /><br />
          <h4 class="teal-text center-align text-accent-4">Main Courses</h4>
          <div class="row">
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen2.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Alpaca a la parrilla</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen2.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Trucha al ajo</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen2.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Trucha a la plancha</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen2.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Trucha al vapor</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen2.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Pollo dorado</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img
                    class="materialboxed"
                    width="650"
                    src="images/imagen2.jpg"
                    style="height:180px"
                  />
                  <span class="card-title">Bistec con papas</span>
                </div>
                <div class="card-content">
                  <p class="light">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
                    <div class="card">
                      <div class="card-image">
                        <img
                          class="materialboxed"
                          width="650"
                          src="images/imagen2.jpg"
                          style="height:180px"
                        />
                        <span class="card-title">Lomo saltado</span>
                      </div>
                      <div class="card-content">
                        <p class="light">
                          Lorem Ipsum is simply dummy text of the printing and
                          typesetting industry. Lorem Ipsum has been the industry's
                          standard dummy text ever since the 1500s
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col s12 m4">
                        <div class="card">
                          <div class="card-image">
                            <img
                              class="materialboxed"
                              width="650"
                              src="images/imagen2.jpg"
                              style="height:180px"
                            />
                            <span class="card-title">Espagueti bolognesa</span>
                          </div>
                          <div class="card-content">
                            <p class="light">
                              Lorem Ipsum is simply dummy text of the printing and
                              typesetting industry. Lorem Ipsum has been the industry's
                              standard dummy text ever since the 1500s
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col s12 m4">
                            <div class="card">
                              <div class="card-image">
                                <img
                                  class="materialboxed"
                                  width="650"
                                  src="images/imagen2.jpg"
                                  style="height:180px"
                                />
                                <span class="card-title">Espagueti napolitana</span>
                              </div>
                              <div class="card-content">
                                <p class="light">
                                  Lorem Ipsum is simply dummy text of the printing and
                                  typesetting industry. Lorem Ipsum has been the industry's
                                  standard dummy text ever since the 1500s
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col s12 m4">
                                <div class="card">
                                  <div class="card-image">
                                    <img
                                      class="materialboxed"
                                      width="650"
                                      src="images/imagen2.jpg"
                                      style="height:180px"
                                    />
                                    <span class="card-title">Saltado de pollo</span>
                                  </div>
                                  <div class="card-content">
                                    <p class="light">
                                      Lorem Ipsum is simply dummy text of the printing and
                                      typesetting industry. Lorem Ipsum has been the industry's
                                      standard dummy text ever since the 1500s
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col s12 m4">
                                    <div class="card">
                                      <div class="card-image">
                                        <img
                                          class="materialboxed"
                                          width="650"
                                          src="images/imagen2.jpg"
                                          style="height:180px"
                                        />
                                        <span class="card-title">Milanesa de pollo</span>
                                      </div>
                                      <div class="card-content">
                                        <p class="light">
                                          Lorem Ipsum is simply dummy text of the printing and
                                          typesetting industry. Lorem Ipsum has been the industry's
                                          standard dummy text ever since the 1500s
                                        </p>
                                      </div>
                                    </div>
                                  </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="page-footer">
      <% include ./layout/footer %>
    </footer>
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script>
      $(document).ready(function() {
        $(".slider").slider();

        $(".button-collapse").sideNav();
      });
      $(document).ready(function() {
        $(".parallax").parallax();
      });
    </script>
  </body>
</html>
