<!DOCTYPE html>
<html>
  <head>
    <% include ./layout/head %>
  </head>

  <body>
    <header>
      <% include ./layout/header %>
    </header>

    <main>
            <div id="home" class="slider">
                    <ul class="slides">
                      <li>
                        <img
                          src="../images/foodhd3.jpg"
                          style="opacity: 0.5;
                                                        filter: alpha(opacity=50);"
                        />
                        <!-- random image -->
                        <div class="caption center-align">
                          <h3>Main Courses</h3>
                          <h5 class="light grey-text text-lighten-3"></h5>
                        </div>
                      </li>
                      <li>
                        <img
                          src="../images/foodhd1.jpg"
                          style="opacity: 0.5;
                                            filter: alpha(opacity=50);"
                        />
                        <!-- random image -->
                        <div class="caption right-align">
                          <h3></h3>
                          <h5 class="light text-lighten-3"></h5>
                        </div>
                      </li>
                      <li>
                        <img
                          src="../images/foodhd2.jpg"
                          style="opacity: 0.5;
                                            filter: alpha(opacity=50);"
                        />
                        <!-- random image -->
                        <div class="caption left-align">
                          <h3></h3>
                          <h5 class="light grey-text text-lighten-3"></h5>
                        </div>
                      </li>
                    </ul>
                  </div>
      <div id="productos" class="container">
        <div class="section" style="height:300px;">
                <h4 class="teal-text center-align text-accent-4">Who are we?</h4>
                <br>
                <div class="row">
                    <div class="col s6 center">
                        <h3><i class="mdi-content-send brown-text"></i></h3>
                        <h4>Mission</h4>
                        <p class="left-align light">
                                Every tourist visiting Machupicchu will take as a souvenir the memory of an unforgettable moment and a gastronomic experience to share back to his destination.
                        </p>
                    </div>

                    <div class="col s6 center" style="
                    border-left:1px solid silver;">
                        <h3><i class="mdi-content-send brown-text"></i></h3>
                        <h4>Vision</h4>
                        <p class="left-align light">
                                We are a restaurant of excellence in the preparation of dishes typical national eh international.
                        </p>
                    </div>
                </div>
        </div>
      </div>
    </main>

    <footer class="page-footer">
      <% include ./layout/footer %>
    </footer>
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script>
      $(document).ready(function() {
        $(".slider").slider();

        $(".button-collapse").sideNav();
      });
      $(document).ready(function() {
        $(".parallax").parallax();
      });
    </script>
  </body>
</html>
