<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Direccion Principal</h5>
            <p class="grey-text text-lighten-4">
            Encuentranos en calle Sapi 342 a 2 cuadras de la plaza de armas
            </p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Mas</h5>
            <ul>
                <li>
                    <a class="grey-text text-lighten-3" href="#!">Acerca de Nosotros</a>
                </li>
                <li>
                    <a class="grey-text text-lighten-3" href="#!">Terminos y Condiciones</a>
                </li>
                <li>
                    <a class="grey-text text-lighten-3" href="#!">Politicas de Privacidad</a>
                </li>
                <li>
                    <a class="grey-text text-lighten-3" href="#!">Link 4</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        © 2018 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
</div>