<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text light">Direccion Principal</h5>
            <p class="grey-text light text-lighten-4">
            Av. Imperio de los Incas 534 Machupicchu
            (Ubicado a 30 metros de el embarque y desembarque de Machupicchu)
            </p>
            <p class="grey-text light text-lighten-4">
                <a target="_blank" href="https://www.google.com/maps/place/La+Retama+del+Che/@-13.1546317,-72.5264123,19.88z/data=!4m13!1m7!3m6!1s0x916d9a8387199d7f:0xbaea3db32e4b38e7!2sAv+Imperio+de+los+Incas+534,+Aguas+Calientes+08681!3b1!8m2!3d-13.1543214!4d-72.5262759!3m4!1s0x916d9a838ebd56e3:0x7f5594d44c2c2dfb!8m2!3d-13.1548736!4d-72.5259373" class="waves-effect white teal-text waves-light btn"><i class="material-icons left">location_on</i>Ver ubicacion</a>
            </p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text light">Informacion</h5>
            <ul>
                <li>
                    <a class="grey-text light text-lighten-3" href="#!"><i class="material-icons tiny">mail</i> retamadelche2011@gmail.com</a>
                </li>
                <li>
                    <a class="grey-text light text-lighten-3" href="#!"><i class="material-icons tiny">phone</i> (084)-211324</a>
                </li>
                <li>
                    <a class="grey-text light text-lighten-3" href="#!"><i class="material-icons tiny">phone_iphone</i> (+51) 984-216-537</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        © 2018 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
</div>