<meta charset="UTF-8">
<title>La Retama del Che</title>

<META name="description" content="En esta pagina encontrara la informacion y lo que ofrece el restaurante la retama del che.">
<META name="Keywords" content="Retama,Che,MachuPicchu,Restaurant,Comida,Bar,Menu,peruano"><meta property="og:title" content="Indio Feliz - Restaurante franco-peruano en MachuPicchu" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="La retama del che" />
<meta name="viewport" content="width=device-width" />

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="../../css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0, user-scalable=no'>
