
 <nav>
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo"><i class="material-icons">filter_hdr</i>La Retama del Che</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="http://localhost:8080/#home">Inicio</a></li>
        <li><a href="#productos">Nuestra Comida</a></li>
        <li><a href="http://localhost:8080/#contactanos">Contactanos</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="http://localhost:8080/#home">Inicio</a></li>
        <li><a href="#productos">Nuestra Comida</a></li>
        <li><a href="http://localhost:8080/#contactanos">Contactanos</a></li>
      </ul>
    </div>
  </nav>
