<div class="">
 <nav>
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#home">Home</a></li>
        <li><a href="#productos">Productos</a></li>
        <li><a href="#contactanos">Contactanos</a></li>
        <li><a href="#redes">Redes Sociales</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#home">Home</a></li>
        <li><a href="#productos">Productos</a></li>
        <li><a href="#contactanos">Contactanos</a></li>
        <li><a href="#redes">Redes Sociales</a></li>
      </ul>
    </div>
  </nav>
</div>