<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="../../css/materialize.css">
<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0, user-scalable=no'>