<div id="home" class="slider">
    <ul class="slides">
        <li>
            <img src="images/foodhd3.jpg" style="opacity: 0.5;
                        filter: alpha(opacity=50);" />
            <!-- random image -->
            <div class="caption right-align">
                <h3></h3>
                <h5 class="light text-lighten-3"></h5>
            </div>
        </li>
        <li>
            <img src="images/foodhd2.jpg" style="opacity: 0.5;
                        filter: alpha(opacity=50);" />
            <!-- random image -->
            <div class="caption left-align">
                <h3></h3>
                <h5 class="light grey-text text-lighten-3"></h5>
            </div>
        </li>
        <li>
            <img src="images/foodhd1.jpg" style="opacity: 0.5;
                        filter: alpha(opacity=50);" />
            <!-- random image -->
            <div class="caption center-align">
                <h3></h3>
                <h5 class="light grey-text text-lighten-3"></h5>
            </div>
        </li>
    </ul>
</div>